.row{
  padding: 20px;
}
div{
  background-color:rgb(247, 165, 44);
  text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
  #fotodeperfil{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
  }
}

/*etiqueta nombre*/
#nombre{
  font-weight: bold;
  margin-top: 30%;
}
